<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block importmap %}{{ importmap('app') }}{% endblock %}
    </head>
    <body>
        <header class="header">
            <img class="header__logo" src="{{ asset('images/fima-logo.svg') }}" alt="FIMA Musica Antica">
            <nav class="header__nav">
                <a class="header__nav-link" href="{{ path('indexLocalized') }}">Home</a>
                <a class="header__nav-link" href="">Chi siamo</a>
                <a class="header__nav-link" href="">Urbino Musica Antica</a>
                <a class="header__nav-link" href="">Biblioteca</a>
                <a class="header__nav-link" href="">Recercare</a>
                <a class="header__nav-link" href="">Periodico</a>
                <a class="header__nav-link" href="{{ path('newsList') }}">Eventi</a>
            </nav>
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>

        <div class="container pre-footer">
            <div class="box follow-box">
                <div class="box-title">Seguici!</div>
                <a href="#" target="_blank" class="follow-box__link">
                    <img class="follow-box__link-image" src="{{ asset('images/logos/youtube.svg') }}" alt="YouTube">
                    <div>Canale YouTube</div>
                </a>
                <a href="#" target="_blank" class="follow-box__link">
                    <img class="follow-box__link-image" src="{{ asset('images/logos/instagram.svg') }}" alt="Instagram">
                    <div>Pagina Instagram</div>
                </a>
                <a href="#" target="_blank" class="follow-box__link">
                    <img class="follow-box__link-image" src="{{ asset('images/logos/facebook.svg') }}" alt="Facebook">
                    <div>Pagina Facebook</div>
                </a>
            </div>
            <div class="box donate-box">
                <div class="donate-box__body">
                    <div class="box-title">Sostieni FIMA</div>
                    <p>
                        La Fondazione Italiana per la Musica Antica, nei suoi cinquantasei anni di attività, ha divulgato la musica antica attraverso centinaia di concerti, conferenze e corsi, che hanno appassionato e continueranno ad appassionare migliaia di musicisti professionisti e dilettanti grazie al sostegno e al lavoro dei migliori musicisti del settore.
                    </p>
                </div>
                <div class="donate-box__angels">
                    <a class="btn" href="#">Sostienici</a>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container footer__columns">
                <div class="footer__column">
                    <div><b>Fondazione Italiana per la Musica Antica</b></div>
                    <div>Via Col di Lana 7, 00195, Roma</div>
                </div>
                <div class="footer__column footer__column--right">
                    Contenuto
                </div>
            </div>
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
