<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}{{ 'base.title'|trans }}</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=5" name="viewport">
        <link rel="icon" type="image/x-icon" href="{{ asset('images/logos/fav-icon.png') }}">
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    </head>
    <body class="{{ 'urbino' in app.current_route ? 'body--urbino-section' }}">
        <div class="header-container">
            <header class="header">
                <img class="header__logo" src="{{ asset('images/logos/fima-logo.svg') }}" alt="FIMA Musica Antica">
                <nav class="header__nav">
                    <a class="header__nav-link" href="{{ path('indexLocalized') }}">{{ 'base.nav.home'|trans }}</a>
                    <a class="header__nav-link" href="">{{ 'base.nav.about'|trans }}</a>
                    <a class="header__nav-link" href="{{ path('urbinoWelcome') }}">{{ 'base.nav.urbino'|trans }}</a>
                    <a class="header__nav-link" href="{{ path('library') }}">{{ 'base.nav.library'|trans }}</a>
                    <a class="header__nav-link" href="">Recercare</a>
                    <a class="header__nav-link" href="">{{ 'base.nav.periodical'|trans }}</a>
                    <a class="header__nav-link" href="{{ path('newsList') }}">{{ 'base.nav.events'|trans }}</a>
                </nav>
            </header>
            {% if 'urbino' in app.current_route %}
                <div class="uma-header">
                    <div>
                        <div class="uma-header__clip">
                            <img class="uma-header__logo" src="{{ asset('images/logos/uma-logos/uma-2026-colors.svg') }}" alt="Urbino Musica Antica Logo">
                        </div>
                    </div>
                    <div class="uma-header__links">
                        <a href="{{ path('urbinoWelcome') }}" class="uma-header__link {{ app.current_route == 'urbinoWelcome' ? 'uma-header__link--active' }}">{{ 'base.uma_nav.welcome'|trans }}</a>
                        <a href="{{ path('urbinoCoursesList') }}" class="uma-header__link {{ 'urbinoCourses' in app.current_route ? 'uma-header__link--active' }}">{{ 'base.uma_nav.courses'|trans }}</a>
                        <a href="{{ path('urbinoInformations') }}" class="uma-header__link {{ app.current_route == 'urbinoInformations' ? 'uma-header__link--active' }}">{{ 'base.uma_nav.informations'|trans }}</a>
                        <a href="{{ path('urbinoEventsFestival') }}" class="uma-header__link {{ app.current_route == 'urbinoEventsFestival' ? 'uma-header__link--active' }}">{{ 'base.uma_nav.festival'|trans }}</a>
                        <a href="{{ path('urbinoEventsExhibitions') }}" class="uma-header__link {{ app.current_route == 'urbinoEventsExhibitions' ? 'uma-header__link--active' }}">{{ 'base.uma_nav.exhibition'|trans }}</a>
                        <a href="{{ path('urbinoEventsConferences') }}" class="uma-header__link {{ app.current_route == 'urbinoEventsConferences' ? 'uma-header__link--active' }}">{{ 'base.uma_nav.conferences'|trans }}</a>
                    </div>
                </div>
            {% endif %}
        </div>

        <main>
            {% block body %}{% endblock %}
        </main>

        <div class="container pre-footer">
            <div class="box follow-box">
                <div class="box-title">{{ 'base.follow.title'|trans }}</div>
                <a href="https://www.youtube.com/@FimaOnLine" target="_blank" class="hover follow-box__link">
                    <img class="follow-box__link-image" src="{{ asset('images/social/youtube.svg') }}" alt="YouTube">
                    <div>{{ 'base.follow.youtube'|trans }}</div>
                </a>
                <a href="https://www.instagram.com/urbinomusicaantica/" target="_blank" class="hover follow-box__link">
                    <img class="follow-box__link-image" src="{{ asset('images/social/instagram.svg') }}" alt="Instagram">
                    <div>{{ 'base.follow.instagram'|trans }}</div>
                </a>
                <a href="https://www.facebook.com/fondazioneitalianaperlamusicaantica" target="_blank" class="hover follow-box__link">
                    <img class="follow-box__link-image" src="{{ asset('images/social/facebook.svg') }}" alt="Facebook">
                    <div>{{ 'base.follow.facebook'|trans }}</div>
                </a>
            </div>
            <div class="box donate-box">
                <div class="donate-box__body">
                    <div class="box-title">{{ 'base.donate.title'|trans }}</div>
                    <p>{{ 'base.donate.description'|trans }}</p>
                </div>
                <div class="donate-box__angels">
                    <a class="btn hover" href="{{ path('donate') }}">{{ 'base.donate.cta'|trans }}</a>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container footer__columns">
                <div class="footer__column">
                    <div><b>{{ 'base.footer.name'|trans }}</b></div>
                    <div>{{ 'base.footer.address'|trans }}</div>
                </div>
                <div class="footer__column footer__column--right">
                    <a href="{{ path('contacts') }}">{{ 'base.footer.contacts'|trans }}</a><br>
                    <a href="#">{{ 'base.footer.transparent_admin'|trans }}</a><br>
                    <a href="https://www.earlymusicwebsites.com" target="_blank">{{ 'base.footer.web_credits'|trans }}</a><br>
                </div>
            </div>
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
