<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}{{ 'base.title'|trans }}</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=5" name="viewport">
        <link rel="icon" type="image/x-icon" href="{{ asset('images/logos/fav-icon.png') }}">
        {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% if 'preload' in app.request.host or 'fimamusicaantica.com' in app.request.host %}
            <script src="{{ asset('plugins/script-events.js') }}" data-website-id="c3f393c0-d1ad-45b6-aa79-00a0620c5636"></script>
        {% endif %}
        <meta name="theme-color" content="#18407E">
    </head>
    <body class="{{ 'urbino' in app.current_route ? 'body--urbino-section' }}">
        <div class="header-container">
            <header class="header">
                <a href="{{ path('indexLocalized') }}" class="hover"><img class="header__logo" src="{{ asset('images/logos/fima-logo.svg') }}" alt="FIMA Musica Antica"></a>
                <button class="header__menu-toggle" aria-label="Menu" data-close-label="{{ 'base.close'|trans }}">
                    <span class="header__menu-toggle-label">MENU</span>
                    <svg class="header__menu-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round">
                        <line x1="3" y1="6" x2="21" y2="6"/>
                        <line x1="3" y1="12" x2="21" y2="12"/>
                        <line x1="3" y1="18" x2="21" y2="18"/>
                    </svg>
                </button>
                <nav class="header__nav">
                    <a class="header__nav-link header__nav-link--no-border {{ app.current_route == 'indexLocalized' ? 'header__nav-link--active' }}" href="{{ path('indexLocalized') }}" data-label="{{ 'base.nav.home'|trans }}">{{ 'base.nav.home'|trans }}</a>
{#                    <a class="header__nav-link" href="">{{ 'base.nav.about'|trans }}</a>#}
                    <a class="header__nav-link {{ 'urbino' in app.current_route ? 'header__nav-link--active' }}" href="{{ path('urbinoWelcome') }}" data-label="{{ 'base.nav.urbino'|trans }}">{{ 'base.nav.urbino'|trans }}</a>
                    <a class="header__nav-link {{ app.current_route == 'library' ? 'header__nav-link--active' }}" href="{{ path('library') }}" data-label="{{ 'base.nav.library'|trans }}">{{ 'base.nav.library'|trans }}</a>
{#                    <a class="header__nav-link" href="">Recercare</a>#}
{#                    <a class="header__nav-link" href="">{{ 'base.nav.periodical'|trans }}</a>#}
                    <a class="header__nav-link {{ 'news' in app.current_route ? 'header__nav-link--active' }}" href="{{ path('newsList') }}" data-label="{{ 'base.nav.events'|trans }}">{{ 'base.nav.events'|trans }}</a>
                    <span class="header__nav-indicator"></span>
                </nav>
            </header>
            {% if 'urbino' in app.current_route %}
                <div class="uma-header">
                    <div>
                        <a href="{{ path('urbinoWelcome') }}" class="uma-header__clip">
                            <img class="uma-header__logo" src="{{ asset('images/logos/uma-logos/uma-2026-colors-white-divider.svg') }}" alt="Urbino Musica Antica Logo">
                        </a>
                    </div>
                    <button class="uma-header__menu-toggle" aria-label="Menu Urbino" data-close-label="{{ 'base.close'|trans }}">
                        <span class="uma-header__menu-toggle-label">Urbino Musica Antica</span>
                        <svg class="uma-header__menu-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round">
                            <line x1="3" y1="6" x2="21" y2="6"/>
                            <line x1="3" y1="12" x2="21" y2="12"/>
                            <line x1="3" y1="18" x2="21" y2="18"/>
                        </svg>
                    </button>
                    <div class="uma-header__links">
                        <a href="{{ path('urbinoWelcome') }}" class="uma-header__link {{ app.current_route == 'urbinoWelcome' ? 'uma-header__link--active' }}" data-label="{{ 'base.uma_nav.welcome'|trans }}">{{ 'base.uma_nav.welcome'|trans }}</a>
                        <a href="{{ path('urbinoCoursesList') }}" class="uma-header__link {{ 'urbinoCourses' in app.current_route ? 'uma-header__link--active' }}" data-label="{{ 'base.uma_nav.courses'|trans }}">{{ 'base.uma_nav.courses'|trans }}</a>
                        <a href="{{ path('urbinoInformations') }}" class="uma-header__link {{ app.current_route == 'urbinoInformations' ? 'uma-header__link--active' }}" data-label="{{ 'base.uma_nav.informations'|trans }}">{{ 'base.uma_nav.informations'|trans }}</a>
                        <a href="{{ path('urbinoEventsFestival') }}" class="uma-header__link {{ app.current_route == 'urbinoEventsFestival' ? 'uma-header__link--active' }}" data-label="{{ 'base.uma_nav.festival'|trans }}">{{ 'base.uma_nav.festival'|trans }}</a>
                        <a href="{{ path('urbinoEventsExhibitions') }}" class="uma-header__link {{ app.current_route == 'urbinoEventsExhibitions' ? 'uma-header__link--active' }}" data-label="{{ 'base.uma_nav.exhibition'|trans }}">{{ 'base.uma_nav.exhibition'|trans }}</a>
                        <a href="{{ path('urbinoEventsConferences') }}" class="uma-header__link {{ app.current_route == 'urbinoEventsConferences' ? 'uma-header__link--active' }}" data-label="{{ 'base.uma_nav.conferences'|trans }}">{{ 'base.uma_nav.conferences'|trans }}</a>
                        <span class="uma-header__indicator"></span>
                    </div>
                </div>
            {% endif %}
        </div>

        <main>
            {% block body %}{% endblock %}
        </main>

        <div class="container pre-footer">
            <div class="box follow-box">
                <div class="box-title">{{ 'base.follow.title'|trans }}</div>
                <a href="https://www.youtube.com/@FimaOnLine" target="_blank" class="hover follow-box__link">
                    <img class="follow-box__link-image" src="{{ asset('images/social/youtube.svg') }}" alt="YouTube">
                    <div>{{ 'base.follow.youtube'|trans }}</div>
                </a>
                <a href="https://www.instagram.com/urbinomusicaantica/" target="_blank" class="hover follow-box__link">
                    <img class="follow-box__link-image" src="{{ asset('images/social/instagram.svg') }}" alt="Instagram">
                    <div>{{ 'base.follow.instagram'|trans }}</div>
                </a>
                <a href="https://www.facebook.com/fondazioneitalianaperlamusicaantica" target="_blank" class="hover follow-box__link">
                    <img class="follow-box__link-image" src="{{ asset('images/social/facebook.svg') }}" alt="Facebook">
                    <div>{{ 'base.follow.facebook'|trans }}</div>
                </a>
            </div>
            <div class="box donate-box">
                <div class="donate-box__body">
                    <div class="box-title">{{ 'base.donate.title'|trans }}</div>
                    <p>{{ 'base.donate.description'|trans }}</p>
                </div>
                <div class="donate-box__angels">
                    <a class="btn hover" href="{{ path('donate') }}">{{ 'base.donate.cta'|trans }}</a>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container footer__columns">
                <div class="footer__column">
                    <div><b>{{ 'base.footer.name'|trans }}</b></div>
                    <div>{{ 'base.footer.address'|trans }}</div>
                    <div class="footer__lang-switch">
                        <a class="footer__lang-link {{ app.request.locale == 'it' ? 'footer__lang-link--active' }}" href="{{ path(app.current_route, app.request.attributes.get('_route_params')|merge({'_locale': 'it'})) }}">IT</a>
                        <a class="footer__lang-link {{ app.request.locale == 'en' ? 'footer__lang-link--active' }}" href="{{ path(app.current_route, app.request.attributes.get('_route_params')|merge({'_locale': 'en'})) }}">EN</a>
                    </div>
                </div>
                <div class="footer__column footer__column--right">
                    <a href="{{ path('contacts') }}">{{ 'base.footer.contacts'|trans }}</a>
                    <a href="{{ path('transparentAdministration') }}">{{ 'base.footer.transparent_admin'|trans }}</a>
                    <a href="https://www.earlymusicwebsites.com" target="_blank">{{ 'base.footer.web_credits'|trans }}</a>
                </div>
            </div>
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
