{% extends 'public/base.html.twig' %}

{% block title %}{{ 'donate.page_title'|trans }} • {% endblock %}

{% block body %}

    <div class="container">
        <h1>{{ 'donate.page_title'|trans }}</h1>
        <p>{{ 'donate.intro_1'|trans|raw }}</p>
        <p>{{ 'donate.intro_2'|trans }}</p>
        <p>{{ 'donate.intro_3'|trans|raw }}</p>

        <div>
            <div class="box donation-option">
                <div class="donation-option__title">{{ 'donate.bronze.title'|trans }}</div>
                <p>{{ 'donate.bronze.range'|trans }}</p>
                <ul>
                    <li>{{ 'donate.benefits.citation'|trans }}</li>
                    <li>{{ 'donate.benefits.recercare_copy'|trans }}</li>
                </ul>
            </div>
            <div class="box donation-option">
                <div class="donation-option__title">{{ 'donate.silver.title'|trans }}</div>
                <p>{{ 'donate.silver.range'|trans }}</p>
                <ul>
                    <li>{{ 'donate.benefits.citation'|trans }}</li>
                    <li>{{ 'donate.benefits.recercare_copy'|trans }}</li>
                    <li>{{ 'donate.benefits.rehearsal_access'|trans }}</li>
                </ul>
            </div>
            <div class="box donation-option">
                <div class="donation-option__title">{{ 'donate.gold.title'|trans }}</div>
                <p>{{ 'donate.gold.range'|trans }}</p>
                <ul>
                    <li>{{ 'donate.benefits.citation'|trans }}</li>
                    <li>{{ 'donate.benefits.recercare_copy'|trans }}</li>
                    <li>{{ 'donate.benefits.rehearsal_access'|trans }}</li>
                    <li>{{ 'donate.benefits.concert_tickets'|trans }}</li>
                    <li>{{ 'donate.benefits.didactic'|trans }}</li>
                    <li>{{ 'donate.benefits.guided_tour'|trans }}</li>
                    <li>{{ 'donate.benefits.special_event'|trans }}</li>
                    <li>{{ 'donate.benefits.gastronomy'|trans }}</li>
                </ul>
            </div>
        </div>

        <div class="donation-trailing">
            {{ 'donate.contact'|trans }} <a class="link-bold hover" href="mailto:info@fima-online.org">info@fima-online.org</a>
        </div>

    </div>

{% endblock %}
