{% extends 'public/base.html.twig' %}

{% block title %}Home • {% endblock %}

{% block body %}

    <div class="home-hero">
        <div class="container">
            <div class="home-hero__since">{{ 'home.hero.since'|trans }}</div>
            <h1 class="home-hero__title">{{ 'home.hero.title'|trans }}</h1>
            <img class="home-hero__filigrane" src="{{ asset('images/logos/fima-logo.svg') }}" alt="FIMA Logo">
        </div>
    </div>

    <section class="container box callout-uma">
        <div>
            <img class="callout-uma__logo" src="{{ asset('images/logos/uma-logos/uma-2026-colors.svg') }}" alt="Urbino Musica Antica Logo">
        </div>
        <div>
            <p>{{ 'home.callout_uma.description'|trans }}</p>
            <br>
            <a class="btn hover btn--callout-uma" href="{{ path('urbinoWelcome') }}">{{ 'home.callout_uma.cta'|trans }}</a>
        </div>
    </section>

    <section class="container section-home">
        <div class="title-with-action">
            <h2>{{ 'home.news.title'|trans }}</h2>
            <a href="{{ path('newsList') }}" class="title-with-action__action hover">
                <div class="title-with-action__action-text">{{ 'home.news.view_all'|trans }}</div>
                <img class="title-with-action__action-icon" src="{{ asset('images/icons/arrow-right-blue.svg') }}" alt="{{ 'home.news.view_all_icon_alt'|trans }}">
            </a>
        </div>
        <div class="news-grid">
            {% for news in newsList %}
                {% include 'public/_news-box.html.twig' %}
            {% endfor %}
        </div>
    </section>

    <section class="section-home">
        <div class="container">
            <h2>{{ 'home.partners.contribute.title'|trans }}</h2>
        </div>
        <div class="splide partner-logos" id="carousel-contribute">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for imageName in ["camera-commercio-marche.webp", "citta-urbino.webp", "comune.webp", "galleria-nazionale-marche.webp", "governo-spagnolo.webp", "ministero-cultura.webp"] %}
                        <img class="splide__slide partner-logos__logo {{ imageName in ['governo-spagnolo.webp', 'camera-commercio-marche.webp'] ? 'partner-logos__logo--horizontal' }}" src="{{ asset('images/carousel-contribute/' ~ imageName) }}" alt="{{ imageName|split('.webp')|first }}">
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>

    <section class="section-home">
        <div class="container">
            <h2>{{ 'home.partners.support.title'|trans }}</h2>
        </div>
        <div class="splide partner-logos" id="carousel-support">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for imageName in ["arcidiocesi-urbino.webp", "club-unesco-montefeltro.webp", "confraternita-san-giuseppe.webp", "conservatorio-rossini.webp", "erdis-marche.webp", "fai.webp", "isiau.webp", "legato-albani.webp", "universita-urbino.webp"] %}
                        <img class="splide__slide partner-logos__logo {{ imageName in ["erdis-marche.webp", "fai.webp", "isiau.webp"] ? 'partner-logos__logo--horizontal' }}" src="{{ asset('images/carousel-support/' ~ imageName) }}" alt="{{ imageName|split('.webp')|first }}">
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}

    <script type="module">
        import { Splide } from '@splidejs/splide';
        import { AutoScroll } from '@splidejs/splide-extension-auto-scroll';
        import '@splidejs/splide/dist/css/splide.min.css';

        const commonCarouselOptions = {
            autoWidth: true,
            gap: '100px',
            pauseOnHover: false,
            pauseOnFocus: false,
            type: 'loop',
            arrows: false,
            pagination: false,
            drag: false,
            autoScroll: {
                pauseOnHover: false,
                speed: 0.5,
            }
        }

        document.addEventListener('DOMContentLoaded', () => {
            const carouselContribute = new Splide(document.querySelector("#carousel-contribute"), commonCarouselOptions).mount({ AutoScroll });
            let customOptions = {
                ...commonCarouselOptions,
                autoScroll: {
                    pauseOnHover: false,
                    speed: 1,
                }
            };
            const carouselSupport = new Splide(document.querySelector("#carousel-support"), customOptions).mount({ AutoScroll });
        });

    </script>

{% endblock %}
