{% extends 'public/base.html.twig' %}

{% block title %}Home • {% endblock %}

{% block body %}

    <div class="home-hero">
        <div class="container">
            <div class="home-hero__since">Dal 1968</div>
            <h1 class="home-hero__title">Fondazione Italiana per la Musica Antica</h1>
            <img class="home-hero__filigrane" src="{{ asset('images/fima-logo.svg') }}" alt="FIMA Logo">
        </div>
    </div>

    <section class="container box callout-uma">
        <div>
            <img class="callout-uma__logo" src="{{ asset('images/uma-logos/uma-2025-colors.svg') }}" alt="Urbino Musica Antica Logo">
        </div>
        <div>
            <p>
                Urbino Musica Antica è già da molto tempo un riferimento per chi ama la musica antica. Nella magnifica cornice di questa importante città medievale, per nove giorni si canta, si suona e si balla, alternando le lezioni individuali della mattina con le tante attività di gruppo pomeridiane, tra cui l’orchestra, il consort, la musica da camera, la polifonia, il laboratorio sull'oratorio, la danza rinascimentale e barocca.
            </p>
            <br>
            <a class="btn" href="{{ path('urbinoWelcome') }}">Scopri Urbino Musica Antica</a>
        </div>
    </section>

    <section class="container section-home">
        <div class="title-with-action">
            <h2>News ed eventi</h2>
            <a href="{{ path('newsList') }}" class="title-with-action__action">
                <div class="title-with-action__action-text">Vedi tutti gli eventi</div>
                <img class="title-with-action__action-icon" src="{{ asset('images/arrow-right-blue.svg') }}" alt="Vedi">
            </a>
        </div>
        <div class="news-grid">
            {% for i in 1..3 %}
                {% include 'public/_news-box.html.twig' %}
            {% endfor %}
        </div>
    </section>

    <section class="section-home">
        <div class="container">
            <h2>Con il patrocinio e contributo</h2>
        </div>
        <div class="splide partner-logos" id="carousel-contribute">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for imageName in ["camera-commercio-marche.webp", "citta-urbino.webp", "comune.webp", "galleria-nazionale-marche.webp", "governo-spagnolo.webp", "ministero-cultura.webp"] %}
                        <img class="splide__slide partner-logos__logo {{ imageName in ['governo-spagnolo.webp', 'camera-commercio-marche.webp'] ? 'partner-logos__logo--horizontal' }}" src="{{ asset('images/carousel-contribute/' ~ imageName) }}" alt="{{ imageName|split('.webp')|first }}">
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>

    <section class="section-home">
        <div class="container">
            <h2>Con il sostegno</h2>
        </div>
        <div class="splide partner-logos" id="carousel-support">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for imageName in ["arcidiocesi-urbino.webp", "club-unesco-montefeltro.webp", "confraternita-san-giuseppe.webp", "conservatorio-rossini.webp", "erdis-marche.webp", "fai.webp", "isiau.webp", "legato-albani.webp", "universita-urbino.webp"] %}
                        <img class="splide__slide partner-logos__logo {{ imageName in ["erdis-marche.webp", "fai.webp"] ? 'partner-logos__logo--horizontal' }}" src="{{ asset('images/carousel-support/' ~ imageName) }}" alt="{{ imageName|split('.webp')|first }}">
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}

    <script type="module">
        import { Splide } from '@splidejs/splide';
        import { AutoScroll } from '@splidejs/splide-extension-auto-scroll';
        import '@splidejs/splide/dist/css/splide.min.css';

        const commonCarouselOptions = {
            autoWidth: true,
            gap: '100px',
            pauseOnHover: false,
            pauseOnFocus: false,
            type: 'loop',
            arrows: false,
            pagination: false,
            speed: 1000,
            drag: true,
            autoScroll: {
                pauseOnHover: false,
                speed: 109
            }
        }

        document.addEventListener('DOMContentLoaded', () => {
            const carouselContribute = new Splide(document.querySelector("#carousel-contribute"), commonCarouselOptions).mount({ AutoScroll });
            let customOptions = {
                ...commonCarouselOptions,
                speed: 1300,
            };
            const carouselSupport = new Splide(document.querySelector("#carousel-support"), customOptions).mount({ AutoScroll });
        });

    </script>

{% endblock %}
