{% extends 'public/base.html.twig' %}

{% block title %}{{ app.request.locale == 'it' ? news.titleIt : news.titleEn }} • {% endblock %}

{% block body %}

    <div class="container news-header" {% if news.coverImage %}style="background-image: url('{{ asset('uploads-news/'~news.id~'.webp') }}');"{% endif %}>
        <div class="news-header__inner">
            <div class="news-header__date-container">
                {% if news.eventDatetime is not null %}
                    <div class="news-box__date-box">
                        <div class="news-box__day">{{ news.eventDatetime.format("d") }}</div>
                        <div class="news-box__month">{{ news.eventDatetime.format("M") }}</div>
                    </div>
                {% endif %}
            </div>
            <div>
                <div class="news-header__pubdate">{{ 'news_detail.published_on'|trans({'%date%': news.createdAt.format("d/m/y")}) }}</div>
                <h1 class="news-header__title">{{ app.request.locale == 'it' ? news.titleIt : news.titleEn }}</h1>
            </div>
        </div>
    </div>

    <div class="container text-from-admin text-from-admin--article">
        {{ (app.request.locale == 'it' ? news.bodyIt : news.bodyEn)|raw }}
    </div>

{% endblock %}
