{% extends 'public/base.html.twig' %}

{% block title %}Urbino Musica Antica • {{ course.teacherFullName }} • {% endblock %}

{% block body %}

    <img src="{{ asset('images/logos/uma-courses-logo.svg') }}" alt="{{ 'urbino_course_detail.logo_alt'|trans }}" class="uma-logo-small">

    <div class="container course-top">
        <div class="course-head">
            <div class="course-head__image" {% if course.imageUploaded %}style="background-image: url('{{ asset('uploads-uma-courses/'~course.id~'.webp') }}');" {% endif %}></div>
            <div>
                <h1 class="course-head__title">{{ course.teacherFullName }}</h1>
                <div class="course-head__subtitle">{{ app.locale == 'it' ? course.disciplineIt : course.disciplineEn }}</div>

                {% if not course.soldOut and course.urbinoEdition.dateEnd >= date("now") %}
                    <a href="{{ path('urbinoInformations') }}" class="btn hover">{{ 'base.uma_nav.informations'|trans }}</a>
                {% elseif course.soldOut %}
                    <div class="chip chip--soldout">Sold out</div>
                {% endif %}
            </div>
        </div>
        <div class="course-infos box">
            <div class="box-title">{{ 'urbino_course_detail.info.title'|trans }}</div>
            <div class="course-infos__row">
                <div>{{ 'urbino_course_detail.info.type'|trans }}</div>
                <div class="course-infos__value">{{ course.scheduleType|trans }}</div>
            </div>
            <div class="course-infos__row">
                <div>{{ 'urbino_course_detail.info.price'|trans }}</div>
                <div class="course-infos__value">{{ course.priceCents ? course.priceFormatted : 'urbino_course_detail.info.free'|trans }}</div>
            </div>
            <div class="course-infos__row">
                <div>{{ 'urbino_course_detail.info.access'|trans }}</div>
                <div class="course-infos__value">{{ course.preselectionRequired ? 'urbino_course_detail.info.access_preselection'|trans : 'urbino_course_detail.info.access_open'|trans }}</div>
            </div>
            {% if course.dateStart %}
                <div class="course-infos__row">
                    <div>{{ 'urbino_course_detail.info.dates'|trans }}</div>
                    <div class="course-infos__value">{{ course.dateStart.format("d/m/y") }} - {{ course.dateEnd.format("d/m/y") }}</div>
                </div>
            {% endif %}
        </div>
    </div>

    {% if course.programDescriptionIt or course.programDescriptionEn %}
        <div class="container box box--with-margin-top">
            <div class="box-title">{{ 'urbino_course_detail.program'|trans }}</div>
            <div>
                {{ (app.request.locale == 'it' ? course.programDescriptionIt : course.programDescriptionEn)|raw }}
            </div>
        </div>
    {% endif %}

    {% if course.bioDescriptionIt or course.bioDescriptionEn %}
        <div class="container box box--with-margin-top">
            <div class="box-title">{{ 'urbino_course_detail.biography'|trans }}</div>
            <div>
                {{ (app.request.locale == 'it' ? course.bioDescriptionIt : course.bioDescriptionEn)|raw }}
            </div>
        </div>
    {% endif %}

{% endblock %}
