{% extends 'public/base.html.twig' %}

{% block title %}{{ 'urbino_welcome.page_title'|trans }} • {% endblock %}

{% block body %}

    <div class="uma-hero">
        <video class="uma-hero__video" poster="{{ asset('videos/uma-welcome.webp') }}" src="{{ asset('videos/uma-welcome.mov') }}" muted loop playsinline autoplay></video>
        <img class="uma-hero__logo" src="{{ asset('images/logos/uma-logos/uma-2026-white.svg') }}" alt="Urbino Musica Antica">
    </div>

    <div class="container box uma-welcome">
        <img class="uma-welcome__angels" src="{{ asset('images/donate-angels.webp') }}" alt="{{ 'urbino_welcome.angels_alt'|trans }}">
        <div class="uma-welcome__left">
            <h1 class="uma-welcome__title">{{ currentEdition.editionName }}</h1>
            <div class="uma-welcome__date">{{ 'urbino_welcome.date_range'|trans({'%start%': currentEdition.dateStart.format("d/m/y"), '%end%': currentEdition.dateEnd.format("d/m/y")}) }}</div>
        </div>
        <div>
            <p>{{ 'home.callout_uma.description'|trans }}</p>
        </div>
    </div>

    <div class="container uma-activities">
        <div class="box uma-activity">
            <img class="uma-activity__logo" src="{{ asset('images/logos/uma-courses-logo.svg') }}" alt="{{ 'base.uma_nav.courses'|trans }}">
            <p>{{ 'urbino_welcome.courses.description'|trans }}</p>
            <a href="{{ path('urbinoCoursesList') }}" class="btn hover btn--uma-activity">{{ 'urbino_welcome.courses.cta'|trans }}</a>
        </div>
        <div class="box uma-activity">
            <img class="uma-activity__logo" src="{{ asset('images/logos/uma-festival-logo.svg') }}" alt="{{ 'base.uma_nav.festival'|trans }}">
            <p>{{ 'urbino_welcome.festival.description'|trans }}</p>
            <a href="{{ path('urbinoEventsFestival') }}" class="btn hover btn--uma-activity">{{ 'urbino_welcome.festival.cta'|trans }}</a>
        </div>
    </div>

{% endblock %}
