{% extends 'public/base.html.twig' %}

{% block title %}{{ event.title }} • Urbino Musica Antica • {% endblock %}

{% block body %}

    <div class="container event-detail-header" style="background-image: url('{{ asset('uploads-uma-event/'~event.id~'.webp') }}')">
        <div class="event-detail-header__overlay">
            <div class="event-detail-header__date-box">
                <div>
                    <div class="uma-event-box__day-box">
                        <div class="uma-event-box__dow">{{ event.eventDatetime.format("D") }}</div>
                        <div class="uma-event-box__dom">{{ event.eventDatetime.format("d") }}</div>
                        <div class="uma-event-box__month">{{ event.eventDatetime.format("M") }}</div>
                    </div>
                    <div class="uma-event-box__hour-box">
                        {{ event.eventDatetime.format("h:i") }}
                    </div>
                </div>
            </div>
            <div>
                <h1 class="event-detail-header__title">{{ event.title }}</h1>
                <div class="event-detail-header__subtitle">{{ app.request.locale == 'it' ? event.subtitleIt : event.subtitleEn|default(event.subtitleIt) }}</div>
            </div>
        </div>
    </div>

    <div class="container box box--with-margin-top">
        <div class="box-title">{{ 'urbino_event_detail.datetime_location'|trans }}</div>
        <p>
            {{ event.eventDatetime.format("l") }} {{ event.eventDatetime.format("d F Y") }}, {{ 'urbino_event_detail.at_time'|trans }} {{ event.eventDatetime.format("H:i") }}
            {% if event.locationLong %}
                <br>
                {{ event.locationLong }}
            {% endif %}
        </p>
        {% if event.ticketLink %}
            <a href="{{ event.ticketLink }}" class="btn hover btn--uma-event-ticket" target="_blank">{{ 'urbino_event_detail.tickets'|trans }}</a>
        {% endif %}
    </div>

    {% if event.descriptionIt or event.descriptionEn %}
        <div class="container box box--with-margin-top">
            <div class="box-title">{{ 'urbino_event_detail.info'|trans }}</div>
            <div>
                {{ (app.request.locale == 'it' ? event.descriptionIt : event.descriptionEn|default(event.descriptionIt))|raw }}
            </div>
        </div>
    {% endif %}

{% endblock %}
