{% extends 'public/base.html.twig' %}

{% block title %}Urbino Musica Antica • Corsi • {% endblock %}

{% block body %}

    <div class="container">
        <h1>Corsi</h1>

        <div>
            {% for courseInCategory in coursesInCategories %}

                <h2>{{ courseInCategory.category.nameIt }}</h2>
                <div class="courses-grid">
                    {% for course in courseInCategory.courses %}
                        <div class="course-box" {% if course.imageUploaded %}style="background-image: url('{{ asset('uploads-uma-courses/'~course.id~'.webp') }}');" {% endif %}>
                            <div class="course-box__inner">
                                <div class="chip chip--course-box">type_{{ course.scheduleType }}</div>
                                <div class="course-box__title">{{ course.teacherFullName }}</div>
                                <div class="course-box__subtitle">TODO Sottotitolo</div>
                                <a class="hover btn btn--course-box" href="{{ path('urbinoCourseDetail', {'course':course.id, 'slug':course.slug}) }}">Vedi corso</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}
